*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #1a79ff;
    --secondary-color: #E0A800
}

body{
    font-family: "Roboto", serif;
}

.bg{
    min-height: 100vh;
    background: var(--primary-color);
}

.title{
    color: #ccc;
    text-align: center;
    padding-top: 1rem;
}

p{
    opacity: 0.8;
    font-size: 1.1rem;
}

.todo-container{
    width: 500px;
    margin: auto;
}

.card{
    margin-top: 2rem;
    background: white;
    padding: 1rem; 
    border-radius: 0.3rem;
    box-shadow: 2px solid wheat;
}

.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form .input-container{
    width: 80%;
}

.form input{
    border-radius: 0.3rem;
    padding: 0.62rem;
    border: 2px solid var(--primary-color);
    width: 100%;
}

.form .btn{
    padding: 0.62rem;
    border: none;
    border-radius: 0.3rem;
    color: white;
}


.todo-element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px 0 #ccc, 0 2px 8px 0 #ccc;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
}

.todo-element .date{
    padding-top: 8px;
    opacity: 0.33;
    font-size: 0.8rem;
}

.flex{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.remove{
    color: red;
    cursor: pointer;
}

.edit{
    color: orange;
    cursor: pointer;
}

.btn-add-bg{
    background: var(--primary-color)!important;
}

.btn-edit-bg{
    background: var(--secondary-color)!important;
}

.hidden-remove{
    display: none;
    visibility: hidden; 
}

.hidden-edit{
    display: none;
    visibility: hidden; 
}

.hidden-btn{
    display: none;
    visibility: hidden; 
}

.completed-task{
    background: wheat;
}
